<style media="screen">
  /* 头部 */
  header{
    width: 100%;
    display: flex;
  }
  header>a{
    flex: 1;
  }
  header>a>img{
    width: 100%;
  }
</style>
<div class="container">
  <!-- 头部 -->
  <header>
    <a href="#"></a>
    <img src="https://dimg04.c-ctrip.com/images/700b0r000000h3mme090B_830_410_118.jpg" width="100%">
  </header>
  <!-- 主要内容 -->
  <main>
    <section class="item">
      <div class="left">

      </div>
      <div class="right">
        <a href="#">海外酒店</a>
        <a href="#">团购</a>
        <a href="#">特价机票</a>
        <a href="#">民宿客栈</a>
      </div>
    </section>
    <section class="item">
      <div class="left">

      </div>
      <div class="right">
        <a href="#">海外酒店</a>
        <a href="#">团购</a>
        <a href="#">特价机票</a>
        <a href="#">民宿客栈</a>
      </div>
    </section>
    <section class="item">
      <div class="left">

      </div>
      <div class="right">
        <a href="#">海外酒店</a>
        <a href="#">团购</a>
        <a href="#">特价机票</a>
        <a href="#">民宿客栈</a>
      </div>
    </section>
    <section class="item">
      <div class="left">

      </div>
      <div class="right">
        <a href="#">海外酒店</a>
        <a href="#">团购</a>
        <a href="#">特价机票</a>
        <a href="#">民宿客栈</a>
      </div>
    </section>
    <section class="extra">
      <a href="#"><img src="" alt=""></a>
      <a href="#"><img src="" alt=""></a>
    </section>
  </main>
  <!-- 尾部 -->
  <footer>
    <div class="nav">
      <a href="#">电话预定</a>
      <a href="#">下载客户端</a>
      <a href="#">我的</a>
    </div>
    <p class="link">
      <a href="#">网站地图</a>
      <a href="#">English</a>
      <a href="#">电脑版</a>
    </p>
    <p class="logo">
      携程旅行
    </p>
  </footer>
</div>
