/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "social-share-button";
 @import url(http://fonts.googleapis.com/css?family=Roboto);

/***********通用样式开始***********/
html{
  position: relative;
  min-height: 100%;
  display: block;
}
body {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    margin-bottom: 150px;
    background-image: linear-gradient(#8b9da9, #fff6e4);
    // background-image: linear-gradient(#8b9da9, #fff6e4);
    // background-color: #f2f2f2;
}

 ul, ol, dl{
    list-style: none;
  }

/***************通用样式结束*****************/

/****** 分享按钮样式 ******/
 $size: 24px;

 .social-share-button {
   .ssb-icon {
     background-size: $size $size;
     height: $size;
     width: $size;
   }
 }
 /****** 分享按钮样式 ******/


/*************头部开始***************/
  .navbar-default{
    background-color: #111;
    border: none;
    // outline: none;
    // height: 60px;
    width: 100%;
  }

  .navbar-default a{
    color: #93F9B9;
  }
  .navbar>.container-fluid .navbar-heade a:hover{
    color: #33CC00;
  }
   .navbar>.container-fluid .navbar-brand ,.navbar>.container-fluid .navbar-right{
      margin-left: 15px;
  }

  .navbar>.container-fluid .navbar-right a{
    color: #9d9d9d;
  }

  .navbar>.container-fluid .navbar-nav .navbar-link:hover ,.navbar>.container-fluid .navbar-brand:hover{
    color: #33CC00;
  }

  .navbar>.container-fluid .navbar-right a:hover{
    color: #33CC00;
  }

  .navbar>.container-fluid .navbar-right .dropdown-menu{
    width: 204px;
  }


  .navbar>.container-fluid .navbar-right .dropdown-menu li:first-child{
    padding-left:40px;
  }
  .navbar>.container-fluid .navbar-right .dropdown-menu li:last-child{
    padding-left:40px;
  }
  /*************头部结束***************/

  /****** 登入弹窗开始******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  // background-color: #F7F7F7;
  background-image: linear-gradient(#8b9da9, #fff6e4);
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

/************登入弹窗结束***************/


 .navbar-left {
    float: initial;
     margin-top: 10px;
    width: 300px;
 }

 .search-id {
    width: 200px;
    padding-top: 7px;
 }

 .page-wrap {
    margin-top: 50px;//搜索页面距离顶部的距离
 }

 .input-group {
    left: 13px;//搜索栏距离左边距离
 }



/**********底部**********/
   .footer1{
     position:absolute;
     bottom:-10px;
     width:100%;
     height:100px;
     background-color: #111;
   }

   .footer1 .container{
     margin-top: 20px;
     color: #fff;
     width: 100%;
   }

   .soc-media-ul{
     display: flex;
     justify-content: center;

   }

   .soc-media-ul li{
     padding: 5px;
   }

   .soc-media-ul li a{
     padding: 10px;
     color: #fff;
     font-size: 20px;
     border: 2px solid;
     border-radius: 50%;
     text-decoration: none;
   }

   .soc-media-ul li a:hover{
     color: #93F9B9;
   }

/**********底部**********/
