<div class="row footer1">
  <footer class="container">
      <ul class="soc-media-ul">
        <li><a href="#" class="fa fa-twitter" target="_blank"></a></li>
        <li><a href="#" class="fa fa-github" target="_blank"></a></li>
        <li><a href="#" class="fa fa-linkedin" target="_blank"></a></li>
        <li><a href="#" class="fa fa-envelope" target="_blank"></a></li>
      </ul>
  </footer>
</div>
